@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    outline: 0;
}

html{
    @apply bg-[#g1g1g1];
}

::-webkit-scrollbar{
    @apply w-0;
}

.nav-links a{ @apply hover:text-blue-400 delay-150 ease-in-out py-2; }
.nav-links a.active{ @apply text-white; }

.p-datatable { @apply overflow-hidden rounded-lg shadow-sm border; }

.p-datatable-table th{ @apply text-sm; }

.p-paginator{ @apply flex justify-end; }

input[type="text"], 
input[type="password"],
input[type="email"], 
input[type="number"]{ @apply border bg-transparent border-gray-300 rounded-md px-3 py-2 text-sm focus:bg-gray-100 w-full h-full; }

select,
input[type="date"],
input[type="month"]{ @apply border border-gray-300 rounded-md px-3 py-2 text-sm text-gray-400 w-full; }

.btn-outlined{ @apply py-1 px-4 bg-white text-blue-400 text-sm border border-blue-400 font-bold rounded-md hover:bg-blue-100 hover:border-blue-100 transition-all delay-100 ease-in-out; }

.btn-red{ @apply py-1 px-4 bg-white text-red-400 text-sm border border-red-400 font-bold rounded-md hover:bg-red-100 hover:border-red-100 transition-all delay-100 ease-in-out; }

.btn-dark{ @apply py-3 bg-darker text-sm text-white font-bold rounded-md hover:bg-dark/[.9] transition-all delay-100 ease-in-out; }

.btn-primary{ @apply py-1 bg-gradient-to-r from-blue-400 to-blue-500 text-sm text-white font-bold rounded-md hover:from-blue-400/[.8] hover:to-blue-500/[.8] transition-all delay-100 ease-in-out; }

.form-group{ @apply flex flex-col gap-2; }

.form-group label{ @apply font-semibold; }

.sub_nav a{ @apply relative; }

.sub_nav a.active{ @apply text-blue-400; }
.sub_nav a.active::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: 
        translateX(-50%)
        rotate(45deg);
    bottom: -1rem;
    width: 1rem;
    aspect-ratio: 1;
    background: #fff;
    border: 1.5px solid;
    border-top: 0;
    border-left: 0;
    @apply border-gray-300;
}

nav{ 
    transition: left 300ms ease-in-out; 
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2)
}
main{  @apply float-right w-screen; }

@media (min-width: 1024px) {
    main{
        width: calc(100vw - 250px);
    }
}

main::before{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 20;
    overflow: hidden;
}